$add-width: 24px;
$menu-width: 34px;
$font-size: 18px;
$padding:3px;
// .cdx-block{
//     padding: 0 0;
// }
.ce-code{
    padding: 0 0;
    padding-top: $add-width;
    // border: 1px solid var(--near-white);
    .CodeMirror {
        height: auto;
    }
    .code-edit-add-up{
        cursor: pointer;
        position: absolute;
        top:-$add-width;
        display: none;
        overflow: visible;
        width: $add-width;
        height: $add-width;
        z-index: 1;
        & span{
            font-size: $font-size;
            line-height: $font-size;
            margin: $padding;
        }
    }
    .code-edit-add-down{
        cursor: pointer;
        position: absolute;
        bottom:-$add-width;
        display: none;
        overflow: visible;
        width: $add-width;
        height: $add-width;
        z-index: 1;
        & span{
            font-size: $font-size;
            line-height: $font-size;
            margin: $padding;
        }
    }
    &:hover .code-edit-add-down,
    &:hover .code-edit-add-up{
        display: block;
    }
}

.code-edit  {
    position: relative;
    margin-left: $menu-width;
    &.edit {
        background-color: var(--near-white);
    }
    &-content{
        border-left: 1px solid blueviolet;
    }
    &-menus {
        position: relative;
        & > .ant-menu{
            position: absolute;
            z-index: 3;
            display: none;
            top: 22px;
            left: -$menu-width;
            // width: auto;
            border: 1px solid #eaeaea;
            -webkit-box-shadow: 0 3px 15px -3px rgba(13,20,33,.13);
            box-shadow: 0 3px 15px -3px rgba(13,20,33,.13);
        }
        &:hover > .ant-menu{
            display: block;
        }
        &-menu{
            position: absolute;
            background-color: white;
            height: 22px;
            left: -$menu-width;
            width: $menu-width;
            overflow: hidden;
            & > .anticon{
                cursor: pointer;
                padding: 2px 9px;
                vertical-align: 2px;
            }
        }
    }
    &-result{
        color: var(--run-result);
        // margin-left: 8px;
        border-left: 8px solid transparent;
        padding-left: 8px;
    }
    &-cm{
    }
}