#folder{
  .ant-drawer-header {
    padding: 0px;
  }
  .ant-drawer-body {
    padding: 0px;
  }
}
.file-name-display{
  cursor: pointer;
  :hover {
    
  }  
}
.import-export{
  position: fixed;
  right: 16px;
  bottom: 0px;
  z-index: 1001;
  & .icon{
    font-size: var(--icon-size);
    line-height: 32px;
    margin-left: 10px;
  }
  &-menu{
    & .icon{
      font-size: var(--icon-size);
      line-height: 32px;
    }
    & .import {
      position: relative;
      display: inline-block;
      & .file_input {
        font-size: 20px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        width: 100%;
      }
    }
  }
}
.folder {
  height: calc(100% - 32px - 24px);
  // overflow-y: auto;
  & .icon {
    font-size: 125%;
    padding: 8px 5px;
    margin-right: 10px;
    cursor: pointer;
  }
  & .header{
    background-color: rgb(226, 224, 221);
    height: 32px;
    & .icon{
      color: var(--icon-color);
    }
    & .icon:hover{
      color: var(--icon-hover-color);
      background-color: var(--icon-hover-bgcolor);
    }
  }
  & details.active > summary {
    color:var(--active-color)
  }
  & details.active.deep > summary {
    color:var(--active-deep-color);
    background-color:var(--active-deep-bg-color)
  }
  & summary{
    line-height: 1.5;
    &::-webkit-details-marker {
      display: none
    }
    &:hover{
      position: relative;
    }
    & .folder-name{
      display: none;
    }
    &:hover .folder-name{
      display: block;
      position: absolute;
      z-index: 1000;
      padding: 5px;
      background: #e2d9d9;
      opacity: 0.85;
      color: black;
      left: 12px;
      top: 24px;
      text-decoration: none;
    }
  }

  & details > summary:after {
    height: 20px;
    width: 20px;
    content: "\f07b";
    -webkit-font-smoothing: antialiased;
    /* display: inline-block; */
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 400;
    font-family: "Font Awesome 5 Free";
    font-size: 18px;
    margin-right: 10px;
    cursor: pointer;
    // color: var(--icon-color);
    float: left;
    line-height: 1;
  }

  & details[open] > summary:after {
    content: "\f07c";
  }

  & details,
  & details .file{
    margin-left: 8px;
  }
  & details {
    position: relative;
    & > .icons {
      position: absolute;
      top: 0px;
      right:0px;
    }
    & > .icons > :nth-child(n){
      padding: 0 5px;
    }
  }
  & .new-folder,
  & .new-file,
  & .file {
    font-size: 100%;
    color: black;
    cursor: pointer;
    position: relative;
  }
  & .file {
    line-height: 1.5;
    &.active{
      // background-color: #40a9ff;
      color:white;
    }
    & > .icons {
      position: absolute;
      top: 0px;
      right:0px;
    }
    & > .icons > :nth-child(n){
      padding: 0 5px;
    }

    &-name{
      :hover {
        position: relative;
      }
      & .file-title{
        display: none;
      }
      &:hover .file-title {
        display: block;
        position: absolute;
        z-index: 1000;
        padding: 5px;
        background-color: #e2d9d9;
        opacity: 0.85;
        color: black;
        left: 12px;
        top: 24px;
        text-decoration: none;
      }
      &.untracked{
        color: yellowgreen;
      }
      &.modified {
        color: rgb(230, 141, 141);
      }
      &:hover {
        background-color: rgb(232, 239, 248);
      }
      & .file-name-rename {
        top:0px;
        left: 0px;
        position: absolute;
        width: 100%;
        height: 100%;
        display: none;
      }
      &.rename .file-name-rename {
        display: inline-block;
      }
    }
    & .icon{
      color: var(--icon-color);
    }
    & .icon:hover{
      color: var(--icon-hover-color);
    }
    &.active .icon,
    & .active {
      color: var(--active-color);
    }
    & .active.deep {
      color: var(--active-deep-color);
      background-color: var(--active-deep-bg-color);
    }
    & > .icons{
      display: none;
    }
    &:hover > .icons,
    &.active > .icons{
      display: inline-block;
    }
    &.selected {
      font-size: 16px;
      color: rgb(247, 106, 12);
    }
  }
  & .new-folder,
  & .new-file {
    display: none;
    &.active {
      display: block;
    }
    & input {
      top:0px;
      left: 0px;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  & .cloud.not-save{

  }
  & .cloud.sync{

  }
  & .cloud.sync{

  }
}