:root {
  --duration: 0.35s;
  --folder-width: 200px;
  --edit-height: 200px;
  --icon-color: deepskyblue;
  --icon-hover-color: royalblue;
  --icon-hover-bgcolor: rgb(250, 241, 114);
  --summary-color:green;
  --key-color:#6636b4;
  --separator-color:#1b1e23;
  --value-color:#20a5ba;
  --run-result:#20a5ba;
  --warning-color: #a9b0bc;
  --near-white:#f5f5f5;
  --error-color:#e7040f;
  --active-deep-color:white;
  --active-deep-bg-color:rgb(12, 114, 247,50%);
  --active-color: rgb(12, 114, 247);
}
.relative{
  position: relative;
}
.btn-no-fill svg{
  fill: none;
}
.btn-fill svg{
  fill: currentColor;
}
.btn-pin svg{
  fill:currentColor;
}
.btn-unpin svg{
  fill:var(--warning-color);
}
.code-box-code-action {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-left: 16px;
  color: rgba(0,0,0,.45);
  cursor: pointer;
  -webkit-transition: all .24s;
  transition: all .24s;
}
.code-expand-icon-hide, .code-expand-icon-show {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all .4s;
  transition: all .4s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#editorjs{
  margin-right: -15px;
  margin-left: -15px;
}
.code {
  width: 100%;
}
.config-input {
   width: 120px!important;
}
.ant-drawer-header,
.ant-drawer-body,
.ant-drawer-footer{
  padding: 5px 24px;
  & .config-item{
    margin-bottom: 0px;
  }
}
.ant-drawer-body{
  overflow-y : scroll;
}
.disabled{
 color:rgba(0,0,0,.3) !important;
}
.ce-toolbar__content{
  max-width: 100%;
}
.ce-block__content{
  max-width: 100%;
}
.site-tag-plus {
  background: #fff;
  border-style: dashed;
}
.anticon-icon {
  cursor: pointer;
  font-size: 18px;
  line-height: 32px;
}
.chart {
  .anticon-menu {
    cursor: pointer;
    font-size: 24px;
    margin-right:5px;
  }
  &-div {
    position: relative;
    padding: 12px 12px 12px 0px;
    width: auto;
    &.active {
      border:1px solid var(--danger)
    } 
    &:hover > .icons {
      visibility: visible;
    }
    > .icons {
      right: -8px;
      position: absolute;
      z-index: 11;
    }
    > .icons {
      top: -8px;
    }
    > .icons {
      visibility: hidden;
    }
  }
  
  &-list{
    margin-top:24px;
  }
}
.header {
  width: 100%;
  margin-top: 0px;
  & > &-wrapper {
    background-color: white;
    & .config-item{
      margin-bottom: 4px;
    }
  }
  & .tabs{
    overflow-y: auto;
  }
  .CodeMirror {
    height: 120px;
  }
}
.h1{
  font-size: 170%;
  margin-bottom: .45rem;
}
.h5 {
  font-size: 120%;
  margin-bottom: .25rem;
}
.bold{
  font-weight: bolder;
}
summary:hover{
  background-color: rgb(255, 196, 0.5);
}

details:hover {
  box-shadow: 0px 0px 5px rgba(11, 125, 233, 0.5);
}
.hide {
  display: none !important;
}

.code-edit-result > .data,
.code-edit-result details,
.code-edit-result .property {
  padding-left: 4px;
}
.code-edit-result .separator {
  color: var(--separator-color);
}
.code-edit-result .key {
  color: var(--key-color);
}
.code-edit-result .value {
  color: var(--value-color);
}
.code-edit-result summary {
  color: var(--separator-color);
}
.code-edit-result > .data,
.code-edit-result > details {
  color: var(--value-color);
}

.details{
  details {
    line-height: 1.5;
    padding-left: 4px;
    & > summary {
      padding-left: 4px;
      color: var(--summary-color);
      line-height: 1.5;
    }
    & > summary::-webkit-details-marker {
      display: none;
    }

    & > summary:before {
      content: "\f152";
      -webkit-font-smoothing: antialiased;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      font-weight: 400;
      font-family: "Font Awesome 5 Free";
      margin-right: 10px;
      cursor: pointer;
      float: left;
      line-height: 1.5;
    }

    &[open] > summary::before {
      content: "\f150";
    }
  }
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.boder-div {
  border: 1px solid #ccc;
  padding: 10px;
}

.draggable {
  cursor: move;
  user-select: none;
}

.placeholder {
  background-color: #edf2f7;
  border: 2px dashed #cbd5e0;
}

.clone-list {
  border-top: 1px solid #ccc;
}

.clone-table {
  border-collapse: collapse;
  border: none;
}

.clone-table th,
.clone-table td {
  border: 1px solid #ccc;
  border-top: none;
  padding: 0.5rem;
}

.dragging {
  background: #fff;
  border-top: 1px solid #ccc;
  z-index: 999;
}

/** modal */
.modal.fade.active {
  display: block;
}

/* Dialog */
.dialog {
  width: 100vw;
  max-width: 30rem;

  padding: 1em;

  background: #fff;
  color: #656e77;
  box-shadow: 0 0 5px rgba(101, 110, 119, .2);
  border: 0;
  text-align: left;
}

.dialog[open] {
  animation: .2s linear slidein;
}

.dialog::backdrop {
  background: rgba(224, 228, 232, .9);
  animation: .4s ease fade;
}

.hideShowBtn {
  position: fixed;
  right: 8px;
  bottom: 8px;
  z-index: 1031;
}