@import '../../node_modules/antd/dist/antd';
@import '../../node_modules/codemirror/lib/codemirror';
@import '../../node_modules/codemirror/addon/hint/show-hint';
@import '../../node_modules/codemirror/theme/eclipse';
@import '../../node_modules/codemirror/theme/base16-light';
@import '../../node_modules/codemirror/addon/fold/foldgutter';
@import './folder.scss';
@import './share.scss';
@import './styles.scss';
@import './toast';
@import './wrapper.scss';
@import './code.scss';
@import './image.scss';

.CodeMirror-hints {
  z-index: 1999;
}
.CodeMirror {
  border: 1px solid #eee;
}
.ce-toolbar {
  z-index: 2;
}
.clicker {
  cursor: pointer !important;
}

.high-light-span{
  color:var(--c-keena-orange);
  font-weight: 600;
  // border-bottom: 1px solid  var(--c-keena-orange);
}

:focus {
  outline: none;
}

a {
  text-decoration: none !important;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
