.top-title{
  line-height: 32px;
  margin-bottom: 0;
}
.dropzone-div:focus{
  outline: none;
}
.dropzone-div{
  height: 100%;
}
.dropzone-div .drag-notice{
  position: fixed;
  z-index: 7;
  top: 0px;
  left: 0px;
  color: var(--icon-color);
}
.my-tabs-btn{
  font-size: var(--icon-size);
  line-height: 32px;
}
.CodeMirror-backup{
  & .ant-back-top {
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 4px;
    background-color: rgb(0, 0, 0, 0);
    color: black;
    text-align: center;
    font-size: var(--icon-size);
    left:50% !important;
  }
}
.my-tabs {
  position: fixed;
  right: 0px;
  top: 32px;
  height: calc(100% - 32px);
  z-index: 999;
  & > .anticon {
    position: fixed;
    top: 50%;
    font-size: var(--icon-size);
    z-index: 1;
    right: 0px;
  }
  &.open > .anticon{
    right: calc(var(--folder-width) *0.95);
  }
  &-wrapper {
    // width: var(--folder-width);
    height: 100%;
    background-color: rgb(245, 243, 241);
    & .ant-back-top{
      height: 40px;
      width: 40px;
      line-height: 40px;
      border-radius: 4px;
      background-color: rgb(0, 0, 0, 0);
      color: black;
      text-align: center;
      font-size: var(--icon-size);
      right: calc(var(--folder-width) * 0.45) !important;
    }
  }
}
.hide {
  display: none;
}
.nav-tabs {
  line-height: 24px;
}
.nav-link {
  padding: 0rem 1rem;
}
.center-loading{
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
}